

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar-track-piece {
    background: #3d414e;
    opacity: 0.5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: fade(#ffffff, 50%);
    //opacity: 0.5;
    border-radius: 20px;

    &:hover {
      background: #686ddf;
    }
  }
}
